doctype html
html
    head
        title=title
        meta(name='description' content=description)
        meta(name='author' content=author)
        meta(property='og:title' content=title)
        meta(property='og:url' content='http://jasonpark.me/DuoCoder')
        meta(property='og:image' content='http://jasonpark.me/DuoCoder/branding/screenshot.png')
        meta(property='og:description' content=description)
        block css
        script(type='text/javascript' src='jquery-3.1.1.min.js')
        block js
        script(type='text/javascript' src='duocoder.js')
    body
        block body
